test.py
test.js
MAHASISWA.json
Dictionary.md
Testing
test
default_clone.ps1
test.json
.env
.vscode
server
nhcode.json
servers.json
env/__pycache__
res.txt
servers
cachedsong.txt
djiksTemp.bat
djiksTemp.txt
pwned
temp.txt
piped
piperjs
flag.txt
res.json
sandbox.py
ss.json
data_raw.json
/lavalink